/***** ***** ***** ***** *****
body{
  height:10000px;

background-image:
url("http://lostworldsfairs.com/atlantis/img/bg_frontwave.png"),
url("http://lostworldsfairs.com/atlantis/img/imonaship.png"),
url("http://lostworldsfairs.com/atlantis/img/bg_backwave.png"),
linear-gradient(to bottom, #32defc 0%,#59e4f9 5%,#acdfe8 5%,#19222D 100%)
;

background-repeat:
repeat-x,
no-repeat,
repeat-x,
repeat;
background-position:
3px 5.25%,
300px 3.85%,
0 4.9%,
top left
;
animation: 10s waves ease-in-out infinite;
}

@keyframes waves {
  50%{
    background-position:
    100px 5.25%,
    305px 3.9%,
    -100px 4.9%,
    top left
    ;
  }
}
***** ***** ***** ***** *****/

body{
  height:10000px;
/*background-image:
linear-gradient(to bottom, #154591 0%, #7facf4 100%)
;*/
background-image: url('img/fullbg.png');
background-repeat:
repeat;
background-position:
top left;
}

#fallingphil{
  text-align:center;
  position:absolute;
  width: 453px;
  height: 200px;
  background: url('img/phil.png')0 0;
  top:100px;
  margin-left:300px;
  }
  
  #dragon{
    position:fixed;
  width:2195px;
  height:800px;
  top:-200px;
   background: url('img/dragon.png')0 0;
  margin-left:-2500px;
}

  #airplane{
    position:fixed;
  width:1886px;
  height:1000px;
  top:-100px;
   background: url('img/airplane.png')0 0;
  margin-right:-5000px;
}

 #clothes{
	position:absolute;
  width:978px;
  height:1100px;
   background: url('img/clothesfront.png')0 0;
 top:7500px;
  margin-left:100px;
}

 #cake {
    position:absolute;
  width:956px;
  height:600px;
   background: url('img/cake.png')0 0;
 top:9426px;
  margin-left:100px;
}



h1, h4 {
  text-align: center;
  color:#ededed;
  font-family:'Oswald', sans-serif;
}